biogeme>=3.2.10
click>=7.1.2
python-Levenshtein>=0.20.9
scikit-learn>=1.2.0
seaborn>=0.12.2
statsmodels>=0.13.5
tqdm>=4.64.1
-e git+ssh://git@github.com/arup-group/pam.git@f1199b7c8abd12de765af9f67420fc33be802d21#egg=pam[planner]
